<div class="container">
  <div class="row">
    <div class="col text-center">
      <h4>
        Bhaumik Patel</h4>
      <p>
        <i class="glyphicon glyphicon-envelope"></i>email@example.com
        <br />
      </p>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active">
          <p>Your Product line</p> <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link active" href="#">
          <p>logos</p> <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link active" href="#">
          <p>Your shop</p> <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link active" href="#">
          <p>Settings</p> <span class="sr-only">(current)</span>
        </a>
      </div>
    </div>
  </nav>


</div>