.card-img-top {
  width: 75%;
}

.landing-heading {
  color: #fff;
}
.page-header{
  opacity: .8;
}
.service-icon{
  display: inline-flex; 
  list-style: none;
}
.service-icon-size {
  font-size: 80px;
  cursor: pointer;
}
input::placeholder { 
  color: #000; 
}
.service-image {
  width: 80% !important;
}

.pointer {
  cursor: pointer;
}

.list-item {
  padding: 5%;
}

.circular-border {
  border: 2px solid red;
    padding: 25px;
    border-radius: 49px;
}
.service-box {
  cursor: pointer;
}