
.card-title {
  margin-bottom: 5%;
}
.pointer {
  cursor: pointer;
  font-size: 24px;
}
.Pacifico{
  font-family: Pacifico;
}

.OleoScript {
  font-family: Oleo Script;
}
.LobsterTwo {
  font-family: Lobster Two;
}
.BerkshireSwash {
  font-family: Berkshire Swash;
}
.MeriendaOne {
  font-family: Merienda One;
}
.JustAnotherHand {
  font-family: Just Another Hand;
}
.Arizonia {
  font-family: Arizonia;
}
.Cookie {
  font-family: Cookie;
}
.GreatVibes {
  font-family: Great Vibes;
}
.LeckerliOne {
  font-family: Leckerli One;
}
.Srisakdi {
  font-family: Srisakdi;
}
.GloriaHallelujah {
  font-family: Gloria Hallelujah;
}