<div class="container">
  <div class="" data-parallax="true">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h4 class="title">Jane Faker<br /></h4>
          <h6 class="description">Music Producer</h6>
        </div>
      </div>

      <br />
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" (click)="navigate('info')">
              <p>creat Product line</p> <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link active" (click)="navigate('info')">
              <p>Your Product line</p> <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link active" href="#">
              <p>logos</p> <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link active" href="#">
              <p>Your shop</p> <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link active" href="#">
              <p>Settings</p> <span class="sr-only">(current)</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>