<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">

        <div class="title-brand">
          <div class="angular-logo">
          </div>
          <h1 class="presentation-title">ITSYDAY</h1>
          <h6>Creat personal Product Brand, Make an Impact</h6>
        </div>

        <div class="d-flex p-5 flex-column text-center">

          <div class="p-2 bd-highlight">
            <button class="loginBtn loginBtn--facebook" (click)="facebookLogin()">
              Login with Facebook
            </button>
          </div>
          <div class="p-2 bd-highlight">
            <button class="loginBtn loginBtn--google">
              Login with Google
            </button>
          </div>
        </div>
      </div>
    </div>
    <h6 class=" category-absolute ml-auto mr-auto">
      <!-- <h6 class="category category-absolute">Designed and coded by -->

    </h6>
  </div>

</div>